@import url('');
ul{ flex: auto;
    border: #000000;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: #000000;
}
header, main, footer{
    background-color: #473a00 ;
    width: 768px ;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
p, h1, h2{
color: #ffffff;
}